FACEBOOK_SECRET='secret' TWITTER_SECRET='secret' TWITTER_KEY='secret' INSTAGRAM_SECRET='secret' GOOGLE_SECRET='secret' GOOGLE_ID='secret' EMAIL_USERNAME='unify.argentina@gmail.com' EMAIL_PASSWORD='secret' AWS_ACCESS_KEY_ID='secret' AWS_SECRET_ACCESS_KEY='secret' AWS_BUCKET='unifyargentina' AWS_REGION='us-west-2' node app.js